body{font-family: Calibri, SutonnyOMJ;}

.lnk:link{color: #008000;}

.lnk:hover{text-decoration: none;}

.lnk:clicked{color: #ff0000;}

img{width: 100px; height: 100px}
.nav-ul{margin:0px; padding: 0px; list-style: none;}

.nav-li{display: inline-block;}

.nav{
    text-decoration: none;
    width: 200px;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #ffffff;
    background-color: #008000;
    border: #008000 5px solid;
    border-radius: 5px;
    transition: 0.5s;
    text-align: center;
}

.nav:hover{background-color: #ff0000; border: #ff0000 5px solid; border-radius: 5px}
.dr{position: relative;}
.dr ul{position: absolute; left: -99999px; top: 39px}
.dr a{margin: 0}
.dr:hover ul{left:0}
